@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Lobster&family=Merriweather&family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap');

:root{
    --dark--primary:#1b1f24;
    --primary:#12bdff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1b1f24;
    padding: 20px;
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
}
body{
    font-family: Merriweather ;
}
header .logo {
    font-weight: bold;
    color: #12bdff; 
    letter-spacing: 2px;
    text-decoration: none;
}



header ul{
    display: flex;
    list-style: none;

}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
}
header ul li a:hover{
    color: #12bdff;

}
header button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--dark--primary);
    border: 1px solid var(--primary);
    color: #12bdff;
    border-radius: 5px;
}
header button:hover{
    cursor: pointer;
    background-color: #12bdff;
    color: white;

}
/* Section Home-page */
section.hero-section {
    background-color: #1b1f24;
    color: #fff;

    display: flex;
    align-items: center;
    padding: 20px 120px 0 240px;

}
.hero-section__title{
    font-size: 48px;
    font-weight: 900;
    color: #12bdff;

}
.hero-section__desc{
    color: aliceblue;
}
.social-icons{
    margin:20px 0;
}
ul.social-icons{
    list-style: none;
    display: flex;
}
.social-icons li{
    margin-right: 20px;
    
}
.social-icons li > a{
    text-decoration: none;
    color: #fff;

}
.social-icons li a > i.fa-linkedin:hover{
    color: #0072b1;
}
.social-icons li a > i.fa-instagram:hover{
    color: #feda75;
}
.social-icons li a > i.fa-github:hover{
    color: #4078c0;
}
.btn{
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor:pointer;
}

.btn.btn-primary{
    background-color: #12bdff;
    font-weight: 600;
    color: white;
}
.btn.btn-primary:hover{
    color: #4078c0
}
.btn.btn-dark{
    background-color:;

}