@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Black+Ops+One&family=Lobster&family=Merriweather&family=Montserrat:ital,wght@1,300&family=Sacramento&display=swap');

:root{
    --dark--primary:#1b1f24;
    --primary:#12bdff;
    --grey:#3f464f;
    --nunito: 'Nunito Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth ;
}
header{
    background-color: #1b1f24;
    padding: 20px;
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;



    width: 100%;
    
    

}
body{
    font-family: Merriweather ;
}
header .logo {
    font-weight: bold;
    color: #12bdff; 
    letter-spacing: 2px;
    text-decoration: none;
}



header ul{
    display: flex;
    list-style: none;

}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
header ul li a:hover{
    color: #12bdff;

}
header button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: var(--dark--primary);
    border: 1px solid var(--primary);
    color: #12bdff;
    border-radius: 5px;
}
header button:hover{
    cursor: pointer;
    background-color: #12bdff;
    color: white;

}
/* Section Home-page */
section.hero-section {
    background-color: #1b1f24;
    color: #fff;

    display: flex;
    align-items: center;
    padding: 80px 120px 0 240px;

}
.hero-section__title{
    font-size: 48px;
    font-weight: 900;
    

}

.hero-section__title span{
    color: #12bdff;
}
.hero-section__desc{
    color: aliceblue;
}
.social-icons{
    margin:20px 0;
}
ul.social-icons{
    list-style: none;
    display: flex;
}
.social-icons li{
    margin-right: 20px;
    
}
.social-icons li > a{
    text-decoration: none;
    color: #fff;

}
.social-icons li a > i.fa-linkedin:hover{
    color: #0072b1;
}
.social-icons li a > i.fa-instagram:hover{
    color: #feda75;
}
.social-icons li a > i.fa-github:hover{
    color: #4078c0;
}
.hero-buttons button{
    margin: 10px;
}
.btn{
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor:pointer;
}

.btn.btn-primary{
    background-color: #12bdff;
    font-weight: 600;
    color: white;
    border-radius: 5px;
}
.btn.btn-primary:hover{
    cursor: pointer;
    background-color: #2f80e2;
    color: #bcc7d6

}
.btn.btn-dark{
    background-color:var(--dark--primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 10px 10px 10px;

}
.btn.btn-dark:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
}


/* About me section */

.about-section{
    background-color: #3f464f;
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about-section img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid var(--primary);
    box-shadow: 3px 5px 40px var(--primary);

    
} 
.about-section--desc {
    margin-left: 100px;

}
.about-section--desc h4{
    font-size: 30px;
    font-weight: 900;
    
}
.about-section--desc h4 span {
    color: var(--primary);
}
.about-section--desc ul{
    list-style: none;
    max-width: 450px;
    margin: 10px;
    
}
.about-section li{
    margin-bottom: 8px;
    color: gray;
}
.about-section--desc li a{
    text-decoration: none;
    color: grey;
    

}
.about-section--desc li a:hover{
    color: #0072b1;
}

.about-section--desc li strong{
    color: white;
}

/* Work section */

.work-section{
    background-color: var(--dark--primary);
    color: white;
    padding:60px;
    text-align: center;

}
.work-section-box{
    background-color: var(--grey);
    padding: 20px;
    max-width: 200px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 40px ;

}
.work-section-box:hover {
    background-color: black;
    
}
.work-section-box p{
    color: grey;
    font-size: 14px;
    
}
.work-section-box a{
    text-decoration: none;
    color: #feda75;
    
}
.work-section-box--desc{

    margin-top: 20px;
    margin-bottom: 10px;
}
.work-section-box--desc p{
    margin-top: 5px;
}
.work-section-box-icon:hover{
    background-color: #0072b1;
}
.work-section-box-icon{
    background-color: var(--primary);
    border-radius: 10px;

}
.work-section--title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px ;
}
.work-section--title span{
    color: var(--primary);
}

.work-section-items{
    display: flex;
    justify-content: center;      
}
/* Contact-me css */
.contact-section{
    background-color:#121314;
    padding: 40px;
    color: white;
    text-align: center;
}

.contact-section h4{
    font-size: 30px;
    margin: 20px 0;
    font-weight: 900;
}
.contact-section h4 span{
    color: var(--primary);
}
.contact-section form input,textarea{
padding: 5px 10px;
outline: none;
width: 350px;
border: none;
background-color: #c4c4c4;
border-radius: 2px;
margin-bottom: 10px;
resize: none;
font-family: var(--nunito);

}

footer{
    background-color: #121314;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
}
footer a{
    text-decoration: none;
    color: #12bdff;
}

